<h1>Reset your Password</h1>

<alert [type]="msg.severity" *ngFor="let msg of msgs" [dismissible]="true" (onClose)="onClosed(msg)">
  <b>{{msg.summary}}:</b> {{msg.detail}}
</alert>

<div class="form-group">
  <label for="p1">Password</label>
  <input type="password" class="form-control" name="p1" id="p1" aria-describedby="p1Help" placeholder="Password" [(ngModel)]="password">
  <small id="p1Help" class="form-text text-muted">Your new password</small>
</div>
<div class="form-group">
  <label for="p2">Password</label>
  <input type="password" class="form-control" name="p2" id="p2" aria-describedby="p2Help" placeholder="Password Confirmation" [(ngModel)]="passwordConfirm">
  <small id="p2Help" class="form-text text-muted">Your new password (for confirmation)</small>
</div>

<div>
  <button (click)="resetPassword()" class="btn btn-primary">Reset Password</button>
</div>


