<h1>Request a Password Reset</h1>

<alert [type]="msg.severity" *ngFor="let msg of msgs" [dismissible]="true" (onClose)="onClosed(msg)">
  <b>{{msg.summary}}:</b> {{msg.detail}}
</alert>

<div class="form-group">
  <label for="p1">Email</label>
  <input type="email" class="form-control" name="p1" id="p1" aria-describedby="p1Help" placeholder="Email" [(ngModel)]="email">
  <small id="p1Help" class="form-text text-muted">Your email address</small>
</div>

<div>
  <button (click)="requestPasswordReset()" class="btn btn-primary">Send Request</button>
</div>


